/* use google poppins font.... */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 70%;
    overflow-x: hidden;
}

/* navbar.............. */
.header{
    height: auto;
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: white;
    /* box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1); */
    box-shadow: 2px 9px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-content: center; 
}

.logo{
    font-size:40px ;
    color: black;
    font-weight: bolder;
    margin: auto;
    text-decoration: none;
    padding-left: 30px;
    /* padding: 15px; */
}

/* .logo img{
    width: 220px;
    height: 110px;
} */

.navbar{
    margin: auto;
}

.navbar ul{
    list-style:none ;
}

.navbar ul li{
    position: relative;
    float: left;
}

.navbar ul li:hover ul{
    display: block;
}

.navbar ul li a{
    font-size: 1.7rem;
    color:rgb(41, 41, 42);
    padding: 2rem;
    display: block;
    text-decoration: none;
}

.navbar ul li a:hover{
    text-decoration: underline;
    color: black;
}

.navbar ul li ul{
    position: absolute;
    left: 0;
    width: 20rem;
    background: white;
    display: none;

}

.navbar ul li ul li{
    width: 100%;
}

.icons{
    text-decoration: none;
    font-size: 30px;
    color: black;
    cursor:pointer; 
    margin: auto;
    /* padding: 30px; */
}

.icons:hover{
    color: rgb(235, 16, 53);
}

.icons a{
    font-size: 30px;
    color: black;
    cursor:pointer;
    text-decoration: none;
}

.icons a:hover{
    color: rgb(235, 16, 53);
}


/* blogs csss start...................... */

section{
    padding: 2rem;
}
.heading{
    background: #ea5ea2;
    justify-content: center;
    text-align: center;
}

.heading h1{
    font-size: 50px;
    font-weight: bold;
}

.heading p {
    color: #fff;
    padding-top: 0.7rem;
    font-size: 1.7rem;
}

/* snav........... */

.help{
    width: 100%;
    min-height: 30px;
    background: rgb(189, 221, 231);
    display: flex;
    flex-direction: row;
}

.help .snav{
    height: 45px; 
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 11px;
}

.help .snav p{
    font-weight: bold;
    font-size: 20px;
}




/* our dailyyy posts................ */

.blogs h1{
    font-size: 60px;
    /* line-height: 2.5; */
    font-weight:500;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}

.blogs .box-container{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    flex-direction: row;
    padding-top: 20px;
    gap: 10px;
}

.blogs .box-container .box{
    border: 2px solid black;
    border-radius: 0.5rem;
    overflow: hidden;
}

.blogs .box-container .box image{
    width: 90%;
    height: 30rem;
    overflow: hidden;
}

.blogs .box-container .box image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.blogs .box-container .box img:hover{
    transform: scale(1.1);
}

.blogs .box-container .box .content{
    /* padding: 2rem; */
    padding-left: 2rem;
}

.blogs .box-container .box .content h3{
    font-size: 2.5rem;
    color: black;
    line-height: 2;
    font-weight: bold;
}

.blogs .box-container .box .content p{
    font-size: 1.4rem;
    /* line-height: 2.5; */
    color: grey;
    /* padding: 1rem 0; */
}

.blogs .box-container .box .content .btn{
    display: inline-block;
    margin-top: 1rem;
    /* padding: 8rem 2.8rem; */
    font-size: 1.7rem;
    color: black;
    border: 2px solid black;
    background: none;
    cursor: pointer;
}

.blogs .box-container .box .content .btn:hover{
    background: black;
    color: white;
}

.blogs .box-container .box .content .icons{
    /* border-top: 2px solid black; */
    padding-top: 2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogs .box-container .box .content .icons a{
    font-size: 1.8rem; 
}

.blogs .box-container .box .content .icons a:hover{
    color: crimson;
}

.blogs .box-container .box .content .icons a i{
    padding-right: 0.5rem;
}
/* blogs css ends................................... */



/* footer starts....................... */
section{
    padding: 2rem 10%;  
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.7rem;
    color: black;
    border: rgb(9, 9, 9);
    background: none;
    cursor: pointer;
    border-radius: 2rem;
    border: 2px solid black;
}

.btn:hover{
    background: black;
    color:white;
}

.footer .box-container{
    /* grid: 25rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: black;
    padding: 1rem 0;
    font-weight: bold;
}

.footer .box-container .box a{
    font-size: 1.6rem;
    font-weight: 500;
    display: block;
    color: crimson;
    padding: 1 rem 0;
    text-decoration: none;
}

.footer .box-container .box a:hover{
    color: rgb(5, 5, 5);
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box a i{
    color: crimson;
    padding-right: 0.5rem;

}

form input[type="email"]{
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: 0.2rem;
    font-size: 1.6rem;
    background: rgb(136, 137, 137);
    text-transform: none;
    margin: 0.5rem 0;
}

form input[type="email"]::placeholder{
    color: black;
    
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color: rgb(57, 52, 51);
    margin-bottom: 1rem;
}

.footer .credit{
    text-align: center;
    padding: 1rem;
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    font-size: 2rem;
    color: rgb(65, 65, 67);
    border-top:1px solid black;
}

.footer .credit span{
    color: rgb(220, 77, 101);
}

.footer .box-container .btn{
    display: inline-block;
    margin-top: 1rem;
    /* padding: 8rem 2.8rem; */
    font-size: 1.7rem;
    color: black;
    border: 2px solid black;
    background: none;
    cursor: pointer;
}

.footer .box-container .btn:hover{
    background: black;
    color: white;
}



/* ......................media query.............................. */

@media(max-width:1200px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 0.2rem;
    }
    /* section.......... */
    section{
        padding: 2rem;
    }
}


@media (max-width:768px){

    .header{
        display: grid;
    }

    .header ul{
        display: grid;
    }

    .box-container{
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .box-container .box{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .box-container .image{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .box-container .box .content{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .footer .box-container{
        display: grid;
        text-align: center;
        justify-content: center;
    }

}


@media(max-width:450px){
    html{
        font-size: 50%;
    }
}